.footer {
    background-color: #a5a5bd;
    position: static;
    right: 0;
    bottom: 0;
    text-align: center; 
    width: 99%;   
    font-size: 19px;
    font-weight: bold;
    color: #fafaff;  
   }